<mat-toolbar id="mainToolbar" color="primary">
    <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
    Telemedicine Application
    <span class="toolbar-spacer"></span>
  </mat-toolbar>
 
<mat-sidenav-container id="sidenavContainer" fullscreen>
    <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
      <mat-list id="menus">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>{{surname}}{{firstNameDisplay}} {{lastNameDisplay}}</mat-card-title>
            <mat-card-subtitle>{{isDoctorDisplay}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-nav-list class="menu-item">
          <a mat-list-item [routerLink]="'/home'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home
          </a>
          <a mat-list-item [routerLink]="'/myfiles'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">upload_file</mat-icon>My Files
          </a>
          <a mat-list-item [routerLink]="'/chatbox'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">chat</mat-icon>Chats
          </a>
          <a mat-list-item [routerLink]="'/videocall'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">duo</mat-icon>Video Call
          </a>
          <a mat-list-item [routerLink]="'/myaccount'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">account_circle</mat-icon>My
            Account
          </a>
          <a mat-list-item (click)="authService.SignOut()">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">logout</mat-icon>Sign Out
          </a>
        </mat-nav-list>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 80vh;">
          <div class="container">
            <h2 style="padding-right: 55%;">Video Calling</h2>
            <br>
            <mat-card class="appointment-card">
                <mat-card-title>Call In</mat-card-title>
                <div *ngIf="isDoctor == false">
                  <mat-form-field>
                    <mat-label>Appointments with:</mat-label>
                    <mat-select #Appointment (selectionChange)="showMessages(Appointment.value)">
                      <mat-option *ngFor="let appointmentdoc of appointmentdoc" [value]="appointmentdoc.uid">Dr.
                        {{appointmentdoc.doctor}} {{appointmentdoc.email}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                </div>
      
                <div class="col" *ngIf="isDoctor == true">
                  <br>
                  <mat-form-field>
                    <mat-label>Chat With</mat-label>
                    <mat-select [formControl]="userControl" #allUser (selectionChange)="showMessages(allUser.value)">
                      <mat-optgroup *ngFor="let group of userGroups" [label]="group._category">
                        <mat-option *ngFor="let allUsers of group._allUsers" [value]="allUsers.uid">
                          {{allUsers.doctor}} - {{allUsers.email}}
                        </mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field>
                </div>
                
                <div class="test">
                <div class="videoContainer">
                    <div [id]="localCallId" class="local"></div>
                    <div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>
                </div>
            </div>
            </mat-card>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    


 


