<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="l_body">
    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Reset Password</h1>
                <span>Enter your email</span>
                <input type="email" placeholder="Email" #passwordResetEmail required />
                <p></p>
                <input type="button" class="buttonC" value="Reset"(click)="authService.ForgotPassword(passwordResetEmail.value)">
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Remember your password?</h1>
                    <p>Welcome to Telemedicine. Start here to begin</p>
                    <a href="/login" class="buttonL">Sign In</a>
                </div>
            </div>
        </div>
    </div>
