<mat-toolbar id="mainToolbar" color="primary">
    <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
    Telemedicine Application
    <span class="toolbar-spacer"></span>
  </mat-toolbar>
  <script>

  </script>
  <mat-sidenav-container id="sidenavContainer" fullscreen>
    <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
      <mat-list id="menus">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
  
            <mat-card-title>{{displayemail}}</mat-card-title>
            <mat-card-subtitle>Patient</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-nav-list class="menu-item">
          <a mat-list-item [routerLink]="'/home'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home
          </a>
          <a mat-list-item [routerLink]="'/myfiles'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">upload_file</mat-icon>My Files
          </a>
          <a mat-list-item [routerLink]="'/myaccount'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">account_circle</mat-icon>My
            Account
          </a>
          <a mat-list-item (click)="authService.SignOut()">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">logout</mat-icon>Sign Out
          </a>
        </mat-nav-list>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 80vh;">
        <div class="container">
          <h2> My Files </h2><br>
          <mat-card class="appointment-card">
            <mat-card-title>File Uploads</mat-card-title>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
          
            <!-- Weight Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br>

            <h1>Upload</h1>
            <input type="file" (change)="onFileChanged($event)">
            <button type="button" (click)="onUpload()">Upload</button>

        </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  