<mat-toolbar id="mainToolbar" color="primary">
    <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
    Telemedicine Application
    <span class="toolbar-spacer"></span>
  </mat-toolbar>
  <script>

  </script>
  <mat-sidenav-container id="sidenavContainer" fullscreen>
    <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
      <mat-list id="menus">
        <mat-card>
          <mat-card-header>
            <span mat-card-avatar class="material-icons" style="font-size: 40px;">account_circle</span>
            <mat-card-title>{{surname}}{{firstNameDisplay}} {{lastNameDisplay}}</mat-card-title>
          <mat-card-subtitle>{{isDoctorDisplay}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-nav-list class="menu-item">
          <a mat-list-item [routerLink]="'/home'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home
          </a>
          <a mat-list-item [routerLink]="'/myfiles'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">upload_file</mat-icon>My Files
          </a>
          <a mat-list-item [routerLink]="'/chatbox'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">chat</mat-icon>Chats
          </a>
          <a mat-list-item [routerLink]="'/videocall'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">duo</mat-icon>Video Call
          </a>
          <a mat-list-item [routerLink]="'/myaccount'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">account_circle</mat-icon>My
            Account
          </a>
          <a mat-list-item (click)="authService.SignOut()">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">logout</mat-icon>Sign Out
          </a>
        </mat-nav-list>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 80vh;">
        <div class="container">
          <h2> My Files </h2><br>
          <mat-card class="appointment-card">
            <mat-card-title>File Uploads <input #file type="file"  [hidden]="true" (change)="onFileChanged($event)">
              <button  mat-button (click)="[onUpload(), refresh()]"  mat-flat-button color="warn" style="float: right; margin-left: 1%;">Upload</button>
              <button mat-button (click)="file.click()" mat-flat-button color="primary" style="float: right;">Choose File</button>
              </mat-card-title>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Sender </th>
                  <td mat-cell *matCellDef="let element"> {{element.action}} </td>
              </ng-container>
          
            <!-- Weight Column -->
                <ng-container matColumnDef="download">
                    <th mat-header-cell *matHeaderCellDef> Download </th>
                    <td mat-cell *matCellDef="let element"> 
                      <a href="{{element.download}}" target="_blank">Download</a></td>
                </ng-container>

            <!-- Delete Column -->
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                  <td mat-cell *matCellDef="let element"> 
                    <button mat-button mat-flat-button color="primary" (click)="[onDelete(element.name, element.user, element.download, element.fileid), refresh()]" mat-flat-button color="green">Delete</button></td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div style="display: none;" id="docsf">
            <mat-card-title>Send Files</mat-card-title>
            <mat-form-field>
              <mat-label>User</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="PickToSend">
                <mat-option *ngFor="let PickToSend of PickToSend" [value]="PickToSend._uid">
                  {{PickToSend._name}} {{PickToSend._lastName}} - {{PickToSend._email}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <input #file type="file" [hidden]="true" (change)="onFileChanged($event)">
            <button mat-button (click)="[onSend(), refresh()]" mat-flat-button color="warn"
              style="float: right; margin-left: 1%;">Send</button>
            <button mat-button (click)="file.click()" mat-flat-button color="primary" style="float: right;">Choose File</button>
            </div>
            <br>
        </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  