<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  Telemedicine Application
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
    <mat-list id="menus">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>

          <mat-card-title>{{displayemail}}</mat-card-title>
          <mat-card-subtitle>Patient</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-nav-list class="menu-item">
        <a mat-list-item [routerLink]="'/home'" [routerLinkActive]="['active']">
          <mat-icon class="home-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home
        </a>
        <a mat-list-item [routerLink]="'/myfiles'" [routerLinkActive]="['active']">
          <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">upload_file</mat-icon>My Files
        </a>
        <a mat-list-item [routerLink]="'/myaccount'" [routerLinkActive]="['active']">
          <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">account_circle</mat-icon>My
          Account
        </a>
        <a mat-list-item (click)="authService.SignOut()">
          <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">logout</mat-icon>Sign Out
        </a>
      </mat-nav-list>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 80vh;">
      <div class="container">
        <h2> My Account </h2><br>
        <mat-card>
          <mat-card-title>User Information</mat-card-title>
          <form>
            <br>
            <div class="form-group">
              <label for="First_Name">First Name</label>
              <input type="text" class="form-control" id="First_Name" value={{displayemail}} #firstName required>
              <br>
              <label for="Last_Name">Last Name</label>
              <input type="text" class="form-control" id="Last_Name" value="Mouse" #lastName required>
              <br>
              <label for="Email_Address">Email Address</label>
              <input type="text" class="form-control" id="Email_Address" value="Mickey@MagicalKingdom.com" readonly required>
              <br>
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Password" value="Disney123" readonly required>
              <br>
              <label for="Date_of_Birth">Date of Birth</label>
              <input type="text" class="form-control" id="Date_of_Birth" value="01-01-2020" #dateofbirth required>
              <br>
              <label for="Address">Address</label>
              <input type="text" class="form-control" id="Address" value="123 Disney Drive" #address required>
              <br>
              <label for="Insurance Company">Insurance Company</label>
              <input type="text" class="form-control" id="Insurance Company" value="Green Cross Green Shield" #insurancecompany required>
              <br>
              <label for="Insurance_ID">Insurance ID</label>
              <input type="text" class="form-control" id="Insurance_ID" value="000-000-000" #insuranceid required>
              <br>
              <button type="submit" class="btn btn-success" (click)="addData(firstName.value, lastName.value, dateofbirth.value, address.value, insurancecompany.value, insuranceid.value)">Submit Changes</button>
            </div>
          </form>
          <br>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
