<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  Telemedicine Application
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
    <mat-list id="menus">
      <mat-card>
        <mat-card-header>
          <span mat-card-avatar class="material-icons" style="font-size: 40px;">account_circle</span>
          <mat-card-title>{{surname}}{{firstNameDisplay}} {{lastNameDisplay}}</mat-card-title>
          <mat-card-subtitle>{{isDoctorDisplay}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-nav-list class="menu-item">
        <a mat-list-item [routerLink]="'/home'" [routerLinkActive]="['active']">
          <mat-icon class="home-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home
        </a>
        <a mat-list-item [routerLink]="'/myfiles'" [routerLinkActive]="['active']">
          <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">upload_file</mat-icon>My Files
        </a>
        <a mat-list-item [routerLink]="'/chatbox'" [routerLinkActive]="['active']">
          <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">chat</mat-icon>Chats
        </a>
        <a mat-list-item [routerLink]="'/videocall'" [routerLinkActive]="['active']">
          <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">duo</mat-icon>Video Call
        </a>
        <a mat-list-item [routerLink]="'/myaccount'" [routerLinkActive]="['active']">
          <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">account_circle</mat-icon>My
          Account
        </a>
        <a mat-list-item (click)="authService.SignOut()">
          <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">logout</mat-icon>Sign Out
        </a>
      </mat-nav-list>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 80vh;">
      <div class="container">
        <h2 style="padding-right: 55%;">My Account</h2>
        <br>
        <mat-card class="appointment-card">
          <mat-card-title>User Information</mat-card-title>
          <form>
            <br>
              <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Your First Name" value="{{firstNameDisplay}}" #firstName>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Your Last Name" value="{{lastNameDisplay}}" #lastName>
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Your Email Address" value="{{displayemail}}" readonly #email>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Date of Birth</mat-label>
                <input matInput placeholder="mm/dd/yyyy" value="{{dobDisplay}}" #dateofbirth>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Your Address" value="{{addressDisplay}}" #address>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Insurance Company</mat-label>
                <input matInput placeholder="Your Insurance Company" value="{{insuranceCompanyDisplay}}" #insurancecompany>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Insurance ID</mat-label>
                <input matInput placeholder="Your Insurance ID" value="{{insuranceIdDisplay}}" #insuranceid>
              </mat-form-field>
              <button type="submit" class="btn btn-danger" (click)="addData(firstName.value, lastName.value, dateofbirth.value, address.value, insurancecompany.value, insuranceid.value)">Submit Changes</button>
          </form>
          <br>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
