<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  Telemedicine Application
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
    <mat-list id="menus">
      <mat-card>
        <mat-card-header>
          <span mat-card-avatar class="material-icons" style="font-size: 40px;">account_circle</span>
          <mat-card-title>{{surname}}{{firstNameDisplay}} {{lastNameDisplay}}</mat-card-title>
          <mat-card-subtitle>{{isDoctorDisplay}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-nav-list class="menu-item">
        <a mat-list-item [routerLink]="'/home'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home
        </a>
        <a mat-list-item [routerLink]="'/myfiles'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">upload_file
            </mat-icon>My Files
        </a>
        <a mat-list-item [routerLink]="'/chatbox'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">chat</mat-icon>Chats
        </a>
        <a mat-list-item [routerLink]="'/videocall'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">duo</mat-icon>Video
            Call
        </a>
        <a mat-list-item [routerLink]="'/myaccount'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">account_circle
            </mat-icon>My
            Account
        </a>
        <a mat-list-item (click)="authService.SignOut()">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">logout</mat-icon>Sign
            Out
        </a>
    </mat-nav-list>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 80vh;">
      <div class="container">
        <h2 style="padding-right: 55%;">Messages</h2>
        <br>
        <mat-card class="appointment-card">

        <div *ngIf="isDoctor == false">
          <div *ngIf="noappt == true">
            <br>
            <p class="noApptText">There are no appointments or messages for the current user. Please make an appointment to chat.</p>
            <br>
          </div>
        </div>


        <div *ngIf="isDoctor == false">
          <div *ngIf="noappt == false">
            <mat-form-field>
              <mat-label>Chat With</mat-label>
              <mat-select [formControl]="userControl" #allUser (selectionChange)="showMessages(allUser.value)">
                <mat-optgroup *ngFor="let group of patientuserGroups" [label]="group._category">
                  <mat-option *ngFor="let allUsers of group._allUsers" [value]="allUsers.uid">
                    Dr. {{allUsers.doctor}} - {{allUsers.email}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
            <br>
            <div #scroller [scrollTop]="scroller.scrollHeight" class="feedWrapper" style="overflow:scroll; height: xyz;">
              <div class="messageContainer" *ngFor="let usermessage of usermessage">
                <div class="messageData">
                  <span class="sender">
                    {{usermessage.sender}}
                  </span>
                  <span class="timestamp">
                    {{usermessage.date}}<br>
                    {{usermessage.time}}
                  </span>
                </div>
                <div class="messageContent">
                  {{usermessage.message}}
                </div>
              </div>
            </div>
  
            <br>
  
            <!-- This is the sending box -->
            <mat-form-field class="messageForm">
              <mat-label>Type Message Here</mat-label>
              <input (keyup.enter)="sendMessage(message.value)" matInput placeholder="Type Message Here" [(ngModel)]="value" #message>
            </mat-form-field>
  
            <!-- This is the sending button -->
            <button mat-button (click)="sendMessage(message.value)">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </div>

          <div class="col" *ngIf="isDoctor == true">
            <br>
            <mat-form-field>
              <mat-label>Chat With</mat-label>
              <mat-select [formControl]="userControl" #allUser (selectionChange)="showMessages(allUser.value)">
                <mat-optgroup *ngFor="let group of doctoruserGroups" [label]="group._category">
                  <mat-option *ngFor="let allUsers of group._allUsers" [value]="allUsers.uid">
                    {{allUsers.doctor}} - {{allUsers.email}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>

          <div #scroller [scrollTop]="scroller.scrollHeight" class="feedWrapper" style="overflow:scroll; height: xyz;">
            <div class="messageContainer" *ngFor="let usermessage of usermessage">
              <div class="messageData">
                <span class="sender">
                  {{usermessage.sender}}
                </span>
                <span class="timestamp">
                  {{usermessage.date}}<br>
                  {{usermessage.time}}
                </span>
              </div>
              <div class="messageContent">
                {{usermessage.message}}
              </div>
            </div>
          </div>

          <br>

          <!-- This is the sending box -->
          <mat-form-field class="messageForm">
            <mat-label>Type Message Here</mat-label>
            <input (keyup.enter) = "sendMessage(message.value)" matInput placeholder="Type Message Here" [(ngModel)]="value" #message>
          </mat-form-field>

          <!-- This is the sending button -->
          <button mat-button (click)="sendMessage(message.value)">
            <mat-icon>send</mat-icon>
          </button>
          </div>
          <!-- <button type="submit" class="btn btn-danger" (click)="[sendMessage(message.value), refresh()]"><mat-icon>send</mat-icon></button> -->
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
