<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-toolbar color="primary" style="text-align-last: center;">
      <mat-icon class="home-icon"aria-hidden="false" aria-label="Example file icon" style="font-size: 35px; margin-right: 30px; margin-bottom: 15px;">account_circle</mat-icon>
      Hello {{displayemail}}
      <br>Patient
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" [routerLinkActive]="['active']"><mat-icon class="home-icon"aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home</a>
      <a mat-list-item [routerLink]="'/myfiles'" [routerLinkActive]="['active']"><mat-icon class="home-icon"aria-hidden="false" aria-label="Example file icon">upload_file</mat-icon>My Files </a>
      <a mat-list-item [routerLink]="'/myaccount'" [routerLinkActive]="['active']"><mat-icon class="home-icon"aria-hidden="false" aria-label="Example file icon">account_circle</mat-icon>My Account </a>
      <a mat-list-item (click)= "authService.SignOut()"><mat-icon class="home-icon"aria-hidden="false" aria-label="Example file icon">logout</mat-icon>Sign Out </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="height: 100vh;">
    <div class="container">
      <mat-card>
        <mat-card-title>Upcoming Appointments</mat-card-title>
        <br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="doctor">
            <th mat-header-cell *matHeaderCellDef> Doctor </th>
            <td mat-cell *matCellDef="let element"> {{element.doctor}} </td>
          </ng-container>
      
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
        
          <ng-container matColumnDef="appointment">
            <th mat-header-cell *matHeaderCellDef> Appointments </th>
            <td mat-cell *matCellDef="let element"> {{element.appointment}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <br>
      </mat-card>  
    </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>




    

    
